$enableRem: true;
$baseFontSize: 16px;
$baseFontFamily: 'Open Sans', 'Open Sans Condensed', sans-serif;

$z-layers: (
        "footer"        : 1000,
        "sidebar"       : 1001,
        "sidebarPanel"  : 1002,
);

// GRID SYSTEM
$enable-grid-classes: true;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1452px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;